<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel</title>
    <link rel="stylesheet" href="css/flexboxgrid.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/js/room_rating.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.0/slick-theme.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.0/slick.css" rel="stylesheet"/>
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Michroma&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
  <link rel="stylesheet" href="~/css/styles.css"/>
  <link rel="stylesheet" href="~/css/pikaday.css"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search2Stay</title>
</head>
<body>
  
  <nav>
	<div class="logo">
		<h4>Search2Stay</h4>
	</div>
	<ul class="nav-links">
		<li>
			<a asp-controller="Home" asp-action="Landing">Home</a>
		</li>
		<li>
			<a asp-controller="Home" asp-action="Profile">Profile</a>
		</li>
		
	</ul>
</nav>   
            @RenderBody()
  
    <footer class=" footer text-muted">
        <div class="container">
            &copy; 2020 - Hotel - 
        </div>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="~/js/slick.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#room-images').slick({
        dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  arrows: true,
  cssEase: 'linear'
      });
    });
  </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/pikaday.js"></script>
    <script src="~/js/star-rating.js"></script>
   
    <script>
    var picker = new Pikaday({ field: document.getElementById('datepicker') });
    var picker1 = new Pikaday({ field: document.getElementById('datepicker1') });
</script>
    
</body>
</html>
